body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    line-height: 100%;
    text-align: center;
    font-family: ;
    font-size: 1.5em;
    color: #333;
}

h1 {

  color: Gold;
text-align: left;
  padding-bottom: 100px;
  padding-left: 20px
}
p {
  color: Gold;
  text-align: left;
}

.nav {
  order: -1;
  padding: 0.75em;
  background: grey;
  font-size: 58px;

}

.background
{
background-image: url("wire.jpg");
background-size: cover;
}
