body {

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  line-height: 100%;
  text-align: center;
  font-family: sans-serif;
  font-size: 1.5em;
  color: #333;
}
.nav {
order: -1;
padding: 2em;
background: red;
font-family: fantasy;
color: white;
}

.footer {
  padding: 2em;
  order: 1;
  background: rgb(90, 180, 180);
  text-align: center;
font-family: fantasy;
}

.wapper {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  font-family: fantasy;
}
.main {

  padding: 2em;
  text-align: center;
  background: orange;
font-family: fantasy;
color: white;
}

.aside {
  padding: 2em;
  text-align: center;
  background: yellow;
  font-family: fantasy;

}
.green {
  padding: 2em;
  text-align: center;
  background: green;
  font-family: fantasy;
  color: white;
}
.blue {
  padding: 2em;
  text-align: center;
  background: blue;
  font-family: fantasy;
  color: white;
}

.violet {
  padding: 2em;
  text-align: center;
  background: RGBA(127, 0, 255, 255);
  font-family: fantasy;
  color: white;
}

.indigo {
  padding: 2em;
  text-align: center;
  background: RGBA(75, 0, 130, 255);
  font-family: fantasy;
  color: white;
}

@media (max-width: 30em) {
  .main {
    flex: 1 0 auto;
  }
}
@media (max-width: 30em) {
  .nav {
    display: block;
  }
  .wrapper{
    flex-direction: row;
  }
  .main {
    flex: 1 1 auto;
  }
  .aside {
    width: 20%
  }
}
