body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    line-height: 100%;
    text-align: center;
    font-family: ;
    font-size: 1.5em;
    color: #69385C;
}

h1 {

  color: #;

  padding-bottom: 100px;
  padding-left: 20px
}
p {
  color: #69385C;

}

.nav {
  order: -1;
  padding: 0.75em;
  background: #715B64;
  font-size: 2em;

}

.foot {
order: +1;
background: #C1AE9F;
font-size: 0.5em;

}

.fottext{
  color: white;
}

.background
{
background-color: #89937C;
background-size: cover;
}
